<h2>Question: Print N lines Hello World where N is user input.</h2>
<textarea class="form-control" [(ngModel)]="code" style="font-family:'Courier New', Courier, monospace; height:400px;" value="Your Code Here"></textarea>
<select class="form-control" #language="ngModel" [class.is-invalid]="language.invalid && language.touched" [class.is-valid]="!language.invalid && language.touched" name="Lang" [(ngModel)]="lang" placeholder="Language" aria-label="Language" id="basic-addon3" required>
<option value="" selected>Select Language</option>
<option *ngFor="let lan of languages" value="{{ lan }}">{{ lan }}</option>
</select>
<button (click)="submit()">Submit</button>
<div *ngIf="result">
  <div class="alert alert-{{bootstrapclass}}" >
      <textarea class="form-control" [(ngModel)]="result" style="font-family:'Courier New', Courier, monospace; height:500px; border:0px; background: transparent;" disabled>
          Your Code Here
          </textarea></div>
</div>