.cell-hover:hover { background: yellow; }
.select-cell { background: grey; }
.selected-cell { color: lime; }
.bg-image {
    background-image: url("../../assets/coverBlur.jpg");
    height: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}