<div class="jumbotron text-center"><h1> TEAM FORMATION </h1></div>

<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
    <div class="carousel-item active" style="text-align: center;">
    <img src="../../assets/image1.jpg" class="d-block" style="height: 500px; margin: 0 auto;" alt="..." data-interval="5000">
    </div>
    <div class="carousel-item">
    <img src="../../assets/image2.jpg" class="d-block" style="height: 500px; margin: 0 auto;" alt="..." data-interval="5000">
    </div>
    <div class="carousel-item">
    <img src="../../assets/image3.jpg" class="d-block" style="height: 500px; margin: 0 auto;" alt="..." data-interval="5000">
    </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>

<div class="row">
  <div class="col-sm-3">
    <h3>FLAWLESS</h3>
    <p>Get insight of the world of coding...</p>
    <button class="btn btn-info" routerLink="/flawless">Make your team</button>
  </div>
  <div class="col-sm-3">
    <h3>BUGHUNT</h3>
    <p>Catch hold of the bug inside the snippets...</p>
    <button class="btn btn-info" routerLink="/bughunt">Make your team</button>
  </div>
  <div class="col-sm-3">
    <h3>CRYPTO-QUEST</h3>
    <p>Show the power of Unlocking things...</p>
    <button class="btn btn-info" routerLink="/cryptoquest">Make your team</button>
  </div>
  <div class="col-sm-3">
    <h3>WEB-DESIGN</h3>
    <p>Get into styling of your own website...</p>
    <button class="btn btn-info" routerLink="/webdesign">Make your team</button>
  </div>
</div>
</div>
      
<div class="wrapper" style="text-align: center">
  <br><button class="btn btn-success" (click)="this._location.back()">Back</button><br>
</div>