<a routerLink="../">Back</a>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Register</button>
        <form (ngSubmit)="onQuery()" novalidate>
        <button type="submit" class="btn btn-primary">Fetch Data</button>
        </form>
        <!-- {{ users | json }} -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
                <div class="modal-body">
                <!-- {{ userForm.value | json }} -->
                <hr>
                <!-- {{ userModel | json }} -->
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input type="text" class="form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name="userName" [(ngModel)]="userModel.name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>
                <div class="text-danger"[class.d-none]="!(name.errors && name.touched)">
                <small class="text-danger" [class.d-none]="!name.invalid">Name is required</small>
                </div>
        
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">College</span>
                </div>
                <input type="text" class="form-control" #collegeName="ngModel" [class.is-invalid]="collegeName.invalid && collegeName.touched" name="collegeName" [(ngModel)]="userModel.college" placeholder="College" aria-label="College" aria-describedby="basic-addon2" required>
                </div>
                <small class="text-danger" [class.d-none]="!(collegeName.invalid && collegeName.touched)">College Name is required</small>
        
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Stream</span>
                </div>
                <select class="form-control" #streamName="ngModel" [class.is-invalid]="streamName.invalid && streamName.touched" name="streamName" [(ngModel)]="userModel.stream" placeholder="Stream" aria-label="Stream" aria-describedby="basic-addon3" required>
                <option value="" selected>Your stream...</option>
                <option *ngFor="let stream of streams" value="{{ stream }}">{{ stream }}</option>
                </select>
                </div>
                <small class="text-danger" [class.d-none]="!(streamName.invalid && streamName.touched)">Stream is required</small>
        
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">Contact#</span>
                </div>
                <input type="number" class="form-control" #contact="ngModel" [class.is-invalid]="contact.invalid && contact.touched" name="contact" pattern="^\d{10}$" [(ngModel)]="userModel.contact" placeholder="Contact" aria-label="Contact" aria-describedby="basic-addon4" required>
                </div>
                <small class="text-danger" [class.d-none]="!(contact.invalid && contact.touched)">Contact# is required</small>
        
                <h5 class="text-info">Events Participating in:</h5>
                <div class="input-group mb-3">
                <div class="form-group form-check">
                    <input type="checkbox" #flawless="ngModel" name="flawless" id="exampleCheck1" [(ngModel)]="userModel.events.flawless" placeholder="Flawless" aria-label="Flawless" aria-describedby="basic-addon5">
                    <label class="form-check-label" for="exampleCheck1">Flawless</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" #bughunt="ngModel" name="bughunt" id="exampleCheck2" [(ngModel)]="userModel.events.bughunt" placeholder="Bughunt" aria-label="Bughunt" aria-describedby="basic-addon5">
                    <label class="form-check-label" for="exampleCheck2">Bughunt</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" #cryptoquest="ngModel" name="cryptoquest" id="exampleCheck3" [(ngModel)]="userModel.events.cryptoquest" placeholder="CryptoQuest" aria-label="CryptoQuest" aria-describedby="basic-addon5">
                    <label class="form-check-label" for="exampleCheck3">CryptoQuest</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" #webdesign="ngModel" name="webdesign" id="exampleCheck4" [(ngModel)]="userModel.events.webdesign" placeholder="WebDesign" aria-label="WebDesign" aria-describedby="basic-addon5">
                    <label class="form-check-label" for="exampleCheck4">Web Design</label>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid">Submit</button>
            </div>
            </form>
        </div>
        </div>
        </div>
        
        
        
        <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
            <tr>
            <th style="vertical-align: middle; text-align: center;" scope="col" rowspan="2">ID</th>
            <th style="vertical-align: middle; text-align: center;" scope="col" rowspan="2">Name</th>
            <th style="vertical-align: middle; text-align: center;" scope="col" rowspan="2">College</th>
            <th style="vertical-align: middle; text-align: center;" scope="col" rowspan="2">Stream</th>
            <th style="vertical-align: middle; text-align: center;" scope="col" rowspan="2">Contact</th>
            <th style="vertical-align: middle; text-align: center;" scope="col" colspan="4">Events Participating</th>
            </tr>
            <tr>
            <th style="vertical-align: middle; text-align: center;" scope="col">Flawless</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Bughunt</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">CryptoQuest</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Web Design</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
            <td style="vertical-align: middle; text-align: center;">{{ user._id }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.name }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.college }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.stream }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.contact }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.events.flawless == true ? "Yes" : "No" }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.events.bughunt == true ? "Yes" : "No" }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.events.cryptoquest == true ? "Yes" : "No" }}</td>
            <td style="vertical-align: middle; text-align: center;">{{ user.events.webdesign == true ? "Yes" : "No" }}</td>
            </tr>
        </tbody>
        </table>