<div class="jumbotron text-center">
    <h1 style="color: black">EDGE 2k19</h1>
    <h2 style="color: black"> Compute@id </h2>
</div>

<div class="container">
    <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" novalidate>
        <div class="form-group">
            <div *ngIf="name.errors && name.invalid && name.touched">
                <small class="text-danger" *ngIf="name.errors.required">Name is required</small>
                <small class="text-danger" *ngIf="name.errors.pattern">Name must contain ONLY letters and
                    space(s)</small>
            </div>
            <label for="basic-addon1" class="text-label">Name:<span class="text-danger">*</span></label>
            <input type="text" class="form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                [class.is-valid]="!name.invalid && name.touched" pattern="[a-zA-Z ]+" name="userName"
                [(ngModel)]="userModel.name" placeholder="Name" aria-label="Name" id="basic-addon1"
                [disabled]="flag!=''" required>
        </div>

        <small class="text-danger" *ngIf="errorMsg">This RC-ID is already registered</small>
        <div *ngIf="rcid.errors && rcid.invalid && rcid.touched">
            <small class="text-danger" *ngIf="rcid.errors.required">RC-ID is required</small>
        </div>
        <div class="form-group">
            <div>
                <label for="basic-addon5" class="text-label">RC-ID:<span class="text-danger">*</span></label>
            </div>
            <input type="number" class="form-control" #rcid="ngModel"
                [class.is-invalid]="(rcid.invalid || errorMsg) && rcid.touched"
                [class.is-valid]="!rcid.invalid && rcid.touched" name="rcID" [(ngModel)]="userModel.rcid"
                (input)="checkRedundancy($event)" placeholder="RC-ID" aria-label="RCID" id="basic-addon5"
                [disabled]="flag!=''" required>
        </div>

        <div *ngIf="collegeName.errors && collegeName.invalid && collegeName.touched">
            <small class="text-danger" *ngIf="collegeName.errors.required">College is required</small>
            <small class="text-danger" *ngIf="collegeName.errors.pattern">College must contain ONLY letters and
                space(s)</small>
        </div>
        <div class="form-group">
            <div>
                <label for="basic-addon2" class="text-label">College:<span class="text-danger">*</span></label>
            </div>
            <input type="text" class="form-control" #collegeName="ngModel"
                [class.is-invalid]="collegeName.invalid && collegeName.touched"
                [class.is-valid]="!collegeName.invalid && collegeName.touched" pattern="[a-zA-Z ]+" name="collegeName"
                [(ngModel)]="userModel.college" placeholder="College" aria-label="College" id="basic-addon2" required>
        </div>

        <div *ngIf="emaill.errors && emaill.invalid && emaill.touched">
            <small class="text-danger" *ngIf="emaill.errors.required">Email is required</small>
            <small class="text-danger" *ngIf="emaill.errors.pattern">Email must contain ONLY letters and
                space(s)</small>
        </div>
        <div class="form-group">
            <div>
                <label for="basic-addon12" class="text-label">Email:<span class="text-danger">*</span></label>
            </div>
            <input type="email" class="form-control" #emaill="ngModel"
                [class.is-invalid]="emaill.invalid && emaill.touched"
                [class.is-valid]="!emaill.invalid && emaill.touched" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                name="emaill" [(ngModel)]="userModel.emaill" placeholder="Email" aria-label="Email" id="basic-addon12"
                required>
        </div>

        <small class="text-danger" [class.d-none]="!(streamName.invalid && streamName.touched)">Stream is
            required</small>
        <div class="form-group">
            <div>
                <label for="basic-addon3" class="text-label">Stream:<span class="text-danger">*</span></label>
            </div>
            <select class="form-control" #streamName="ngModel"
                [class.is-invalid]="streamName.invalid && streamName.touched"
                [class.is-valid]="!streamName.invalid && streamName.touched" name="streamName"
                [(ngModel)]="userModel.stream" placeholder="Stream" aria-label="Stream" id="basic-addon3" required>
                <option value="" selected class="text-label">Your stream...</option>
                <option *ngFor="let stream of streams" value="{{ stream }}" class="text-label">{{ stream }}</option>
            </select>
        </div>

        <small class="text-danger" [class.d-none]="!(year.invalid && year.touched)">Year is required</small>
        <div class="form-group">
            <div>
                <label for="basic-addon10" class="text-label">Year:<span class="text-danger">*</span></label>
            </div>
            <select class="form-control" #year="ngModel" [class.is-invalid]="year.invalid && year.touched"
                [class.is-valid]="!year.invalid && year.touched" name="year" [(ngModel)]="userModel.year"
                placeholder="Year" aria-label="Year" id="basic-addon10" required>
                <option value="" selected class="text-label">Your Year...</option>
                <option value="1st" class="text-label">1st</option>
                <option value="2nd" class="text-label">2nd</option>
                <option value="3rd" class="text-label">3rd</option>
                <option value="4th" class="text-label">4th</option>
                <option value="Other" class="text-label">Other</option>
            </select>
        </div>

        <div *ngIf="contact.errors && contact.invalid && contact.touched">
            <small class="text-danger" *ngIf="contact.errors.required">Contact# is required</small>
            <small class="text-danger" *ngIf="contact.errors.pattern">Contact# must have 10 digits</small>
        </div>
        <div class="form-group">
            <div>
                <label for="basic-addon4" class="text-label">Contact#:<span class="text-danger">*</span></label>
            </div>
            <input type="number" class="form-control" #contact="ngModel"
                [class.is-invalid]="contact.invalid && contact.touched"
                [class.is-valid]="!contact.invalid && contact.touched" name="contact" pattern="^\d{10}$"
                [(ngModel)]="userModel.contact" placeholder="Contact" aria-label="Contact" id="basic-addon4" required>
        </div>

        <h5 class="text-info">Events Participating in: <small class="text-danger" *ngIf="flag != '' && !del">You can add
                events. Removal of events is not allowed.</small></h5>
        <div class="input-group">
            <div class="form-group form-check">
                <input type="checkbox" #flawless="ngModel" name="flawless" id="exampleCheck1"
                    [(ngModel)]="userModel.events.flawless" placeholder="Flawless" aria-label="Flawless"
                    aria-describedby="basic-addon5" [disabled]="critical[0] && !del">
                <label class="form-check-label" for="exampleCheck1" class="text-label">Flawless</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" #bughunt="ngModel" name="bughunt" id="exampleCheck2"
                    [(ngModel)]="userModel.events.bughunt" placeholder="Bughunt" aria-label="Bughunt"
                    aria-describedby="basic-addon5" [disabled]="critical[1] && !del">
                <label class="form-check-label" for="exampleCheck2" class="text-label">Bughunt</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" #cryptoquest="ngModel" name="cryptoquest" id="exampleCheck3"
                    [(ngModel)]="userModel.events.cryptoquest" placeholder="CryptoQuest" aria-label="CryptoQuest"
                    aria-describedby="basic-addon5" [disabled]="critical[2] && !del">
                <label class="form-check-label" for="exampleCheck3" class="text-label">CryptoQuest</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" #webdesign="ngModel" name="webdesign" id="exampleCheck4"
                    [(ngModel)]="userModel.events.webdesign" placeholder="WebDesign" aria-label="WebDesign"
                    aria-describedby="basic-addon5" [disabled]="critical[3] && !del">
                <label class="form-check-label" for="exampleCheck4" class="text-label">Web Design</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-left"
            [disabled]="userForm.form.invalid || errorMsg">{{ (flag == '' && !del) ? "Submit": "Save Changes"}}</button>
        <button class="btn btn-success float-right" *ngIf="flag != '' && !del"
            (click)="userModel = userNew; flag = '';">Clear & Add New</button>
        <button class="btn btn-success float-right" *ngIf="!(flag != '' && !del)" routerLink="/eventspage">Form your
            Team</button>
    </form>
</div>
<br><br>
<div class="container" style="width: 100%;">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon8">Search Participant</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search.."
            aria-describedby="basic-addon8">
    </div>
    <table class="table table-bordered table-sm text-label table-striped" #allusers>
        <thead class="thead-dark">
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" rowspan="2">Name</th>
                <th scope="col" rowspan="2">RC ID</th>
                <th scope="col" rowspan="2">Email</th>
                <th scope="col" rowspan="2">College</th>
                <th scope="col" rowspan="2">Stream</th>
                <th scope="col" rowspan="2">Year</th>
                <th scope="col" rowspan="2">Contact</th>
                <th scope="col" colspan="4">Events Participating</th>
                <th scope="col" rowspan="2" colspan="2">Action</th>
            </tr>
            <tr>
                <th scope="col">Flawless</th>
                <th scope="col">Bughunt</th>
                <th scope="col">CryptoQuest</th>
                <th scope="col">Web Design</th>
            </tr>
        </thead>
        <tbody class="tbody-dark">
            <tr
                *ngFor="let user of users | search: {name: searchText, stream: searchText, rcid: searchText, college: searchText}; let i=index">
                <td style="font-weight: bold;">{{ i+1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.rcid }}</td>
                <td>{{ user.emaill }}</td>
                <td>{{ user.college }}</td>
                <td>{{ user.stream }}</td>
                <td>{{ user.year }}</td>
                <td>{{ user.contact }}</td>
                <td><i *ngIf="user.events.flawless == true" class="material-icons tick">&#xe876;</i></td>
                <td><i *ngIf="user.events.bughunt == true" class="material-icons tick">&#xe876;</i></td>
                <td><i *ngIf="user.events.cryptoquest == true" class="material-icons tick">&#xe876;</i></td>
                <td><i *ngIf="user.events.webdesign == true" class="material-icons tick">&#xe876;</i></td>
                <td><button class="btn btn-warning btn-sm"
                        (click)="userModel = user; flag = user._id; critical[0] = user.events.flawless; critical[1] = user.events.bughunt; critical[2] = user.events.cryptoquest;  critical[3] = user.events.webdesign;"><i
                            class="material-icons" style="vertical-align: middle;">&#xe3c9;</i></button></td>
                <td>
                    <form (ngSubmit)="onDelete()"><button class="btn btn-danger btn-sm" type="submit"
                            (click)="flag = user._id; del = true;"><i class="material-icons"
                                style="vertical-align: middle;">&#xe872;</i></button></form>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="ExportToExcel('Registrations')"><i class="material-icons"
            style="vertical-align: middle;">&#xe2c4;</i>Download List</button>
</div>